<!DOCTYPE html>
<html>
<head>
	<title>tetyy</title>
</head>
<body>

	<p style="width: 300px
			height: 300px;
			background-color: yellow;

			font-family: roboto;
			font-size: 24px;
			font-style: italic;
			/*font-variant: small-caps;*/
			font-weight: 900;

			color: rad;
			text-align: left;
			text-align-last: center;
/*
			text-decoration: underline blue dashed;*/
			text-decoration-color: green;
			text-decoration-line: underline;
			text-decoration-style: double;

			text-transform: capitalize;
			text-indent: 100px;

			letter-spacing: 1px;
			word-spacing: 10px;
			line-height: 40px;

			/*word-wrap: break-word;
			word-break: break-all;*/

			text-shadow: -2px 0px 2px #000;
			box-shadow: 5px 5px 10px #000;

			/*overflow: auto;*/
			overflow-x: hidden;
			overflow-y: auto;>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</p>

</body>
</html>